* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    position: relative;
}

.btn {
    cursor: pointer;
    padding: 5px 4px;
    background-color: rgba(105, 87, 87, 0.308);
    border: 1px solid;
    border-radius: 5px;
}

.select-box {
    outline: none;
    padding: 08px 10px;
    margin-right: 10px;
    background: rgb(43, 42, 42);
    color: white;
}