@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --success-color: green;
    --error-color: orangered;
}

* {
    box-sizing: border-box;
    margin: 0;
}

@media (max-width: 600px) {

    #con {
        float: none;
        width: none;
        margin: 0;
    }
    
    body {
        margin: 0;    
    }
}

body {
    background-color: #869EB2;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    background-image: url('Images/background1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(30%);
}

.container {
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 2px 12px rgba(0,0,0, 0.3);
    width: 400px;
    margin-right: 30px;
    position: relative;
    margin-top: 0px;
    float: right;
}

.container a {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #456264;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.container label {
    font-size: 14px;
    color: whitesmoke;    
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: #456264;
    display: block;
    margin-bottom: 8px;
}

.form-control input {
    border: 2px solid #DCF1DA;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: #73D0EE;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #869EB2;
    border: 2px solid;
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 15px;
    padding: 5px;
    margin-top: 10px;
    width: 25%;
}