@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

:root {
    --success-color: green;
    --error-color: red;
}

* {
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.container {
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0,0,0, 0.3);
    background-color: azure;
    width: 400px;
    position: relative;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-control label {
    color: darkslategrey;
    display: block;
    margin-bottom: 10px;
}

.form-control input {
    border: 2px solid gray;
    border-radius: 6px;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0px;
    border-color: royalblue;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form button {
    cursor: pointer;
    background-color: gray;
    border: 2px solid royalblue;
    border-radius: 5px;
    font-size: 15px;
    display: block;
    color: azure;
    padding: 6px;
    margin-top: 20px;
    width: 100%;
}